@model Restauracja_MVC.Models.AccountViewModel.UserEditCitiesViewModel

@{
    ViewData["Title"] = "View";
}

<h1>Edycja profilu</h1>
<h1>@ViewBag.Error</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-4 ">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.Name" class="control-label"></label>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Surname" class="control-label"></label>
                <input asp-for="User.Surname" class="form-control" />
                <span asp-validation-for="User.Surname" class="text-danger"></span>
            </div>
            @* Change it to select input with values as 1,2... and >NameOfCity< *@
            <div class="form-group">
                <label asp-for="User.City" class="control-label"></label>
                <select asp-for="User.City" asp-items="Model.Cities" class="form-control"></select>
                <span asp-validation-for="User.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Address" class="control-label"></label>
                <input asp-for="User.Address" class="form-control" />
                <span asp-validation-for="User.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Phone" class="control-label"></label>
                <input asp-for="User.Phone" class="form-control" />
                <span asp-validation-for="User.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zatwierdź" class="btn btn-primary" /> | <a asp-action="Profile">Wróć do profilu</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
