@model Restauracja_MVC.Models.Ingredients.Ingredient

@{
    ViewData["Title"] = "Usuń składnik";
}

<h1>Usuń składnik</h1>

<h3>Jesteś pewien, że chcesz usunąć ten element?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do listy</a>
    </form>
</div>
