
@{
    ViewData["Title"] = "Panel administratora";
}

<h1 class="text-center">Panel administratora</h1>

<div class="container col-lg-7 col-md-9 col-sm-11 text-center">
    <a class="btn btn-outline-secondary mt-1" asp-controller="Meals" asp-action="Index">Dania</a>
    <a class="btn btn-outline-secondary mt-1" asp-controller="Recipes" asp-action="Index">Przepisy</a>
    <a class="btn btn-outline-secondary mt-1" asp-controller="Ingredients" asp-action="Index">Składniki</a>
    <a class="btn btn-outline-secondary mt-1" asp-controller="Orders" asp-action="Index">Zamówienia</a>
    <a class="btn btn-outline-secondary mt-1" asp-controller="Users" asp-action="">Użytkownicy</a>
    <a class="btn btn-outline-secondary mt-1" asp-controller="Cities" asp-action="">Miasta</a>
</div>

